1.  What are data structures, and why are they important?

Data structures are specialized ways of organizing, managing, and storing data in a computer so that it can be accessed and modified efficiently. They are fundamental to computer science and software development.

They are imp because=
1.Efficiency
2.Better Code Organization
3.Problem Solving
4.Scalability
5.Real world applications and many more

2.  Explain the difference between mutable and immutable data types with examples?

| Feature         | Mutable               | Immutable             |
| --------------- | --------------------- | --------------------- |
| Can be changed? | Yes                   | No                    |
| Memory behavior | Modified in-place     | New object created    |
| Examples        | `list`, `dict`, `set` | `int`, `str`, `tuple` |

3.  What are the main differences between lists and tuples in Python?

In Python, lists and tuples are both used to store collections of items, but they differ in several important ways. The main difference is that lists are mutable, meaning their contents can be changed after creation—you can add, remove, or modify elements. In contrast, tuples are immutable, which means once they are created, their contents cannot be changed. Lists use square brackets (e.g., [1, 2, 3]), while tuples use parentheses (e.g., (1, 2, 3)). Because of their immutability, tuples are generally faster and more memory-efficient than lists, making them useful in situations where performance matters and the data doesn't need to change. Additionally, tuples can be used as keys in dictionaries or stored in sets, while lists cannot, since lists are unhashable. Lists offer more built-in methods like append() and remove(), which makes them more flexible for dynamic data manipulation. In summary, use lists when you need a collection of items that may change, and use tuples when you want a fixed, unchangeable group of elements.

4. Describe how dictionaries store data?

Dictionaries stores data in key-value pairs.

5. Why might you use a set instead of a list in Python?

You might use a set instead of a list in Python when you need to store a collection of unique elements and do not need to maintain any particular order. Sets automatically eliminate duplicates, so they are useful when you want to ensure that no item appears more than once.

6. What is a string in Python, and how is it different from a list?

In Python, a string is a sequence of characters enclosed in quotes, such as "hello" or 'Python3'. Strings are used to represent textual data, and they are immutable
A list, on the other hand, is a sequence of elements that can include any data type, such as numbers, strings, or even other lists. Lists are mutable, so you can change, add, or remove elements after the list is created.

7. How do tuples ensure data integrity in Python?

Tuples help ensure data integrity in Python because they are immutable, meaning their contents cannot be changed after they are created. Once a tuple is defined, you cannot add, remove, or modify any of its elements. This immutability makes tuples a reliable way to store fixed collections of data that should remain constant throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index (called a hash) where each value is stored.
hash tables are the underlying mechanism that makes Python dictionaries fast and efficient for key-based data storage and retrieval.

9. Can lists contain different data types in Python?

Yes, lists in Python can contain different data types within the same list.

10. Explain why strings are immutable in Python?

Strings are immutable in Python because their contents cannot be changed after they are created. This immutability improves safety by preventing unexpected changes when the same string is used in different parts of a program. It also allows Python to optimize memory usage and makes strings reliable for use as dictionary keys or set elements. When you modify a string, Python creates a new string instead of altering the original, ensuring data consistency and simplifying program.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries offer faster and more efficient data access than lists for tasks that involve looking up values by keys.

12. Describe a scenario where using a tuple would be preferable over a list?

Using a tuple is preferable over a list when you need to store a fixed set of values that should not change throughout the program , like when ur putting ur dob it always remain same.

13. How do sets handle duplicate values in Python?

In Python, sets automatically remove duplicate values by storing only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?

The in keyword checks for membership in both lists and dictionaries, but it works differently. In lists, it searches through all elements to see if a value exists, which can be slower for large lists. In dictionaries, in checks if a key exists using a fast hash lookup, making it much quicker.

15. Can you modify the elements of a tuple? Explain why or why not?

No, you cannot modify the elements of a tuple because tuples are immutable in Python.

16.  What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary where some of the values are themselves dictionaries. This allows you to organize complex, hierarchical data with multiple levels of key-value pairs.

Example use case: Storing information about students, where each student has their own dictionary containing details like grades and contact info.

17.  Describe the time complexity of accessing elements in a dictionary?

Don't knw the answer

18. In what situations are lists preferred over dictionaries?

Lists are preferred over dictionaries when you need to maintain ordered collections of items, especially if the order matters or you need to access elements by their position (index).

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries were traditionally considered unordered because they didn’t maintain the order of items as they were added.
However, this doesn’t affect data retrieval by key, which is always fast and direct

20. Explain the difference between a list and a dictionary in terms of data retrieval?

The main difference between a list and a dictionary in data retrieval is how you access elements. In a list, you retrieve items by their index position, which can be slower if you need to search for a specific value. In a dictionary, you retrieve values directly using keys, which is much faster.

1. Write a code to create a string with your name and print it?

In [1]:
name = "Piyush"
print(name)

Piyush

2. Write a code to find the length of the string "Hello World"?

In [2]:
a = "Hello World"
a = len(a)
print(a)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
a = "Python Programming"
a = a[0:3]
print(a)

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [4]:
u = "hello"
u = u.upper()
print(u)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [5]:
string = "I like apple"
string = string.replace("apple", "orange")
print(string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [6]:
c = [1,2,3,4,5]
print(c)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [7]:
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [8]:
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [2]:
l = ['a','b','c','d']
l[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [15]:
l = [10,20,30,40,50]
l1=l[::-1]
print(l1)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [16]:
t = (100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [26]:
t = ('red','green','blue','yellow')
t1 = t[-2]
print(t1)
type(t)

blue

tuple

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [33]:
t = (10,20,5,15)
t1 = min(t)
t2 = max(t)
print(t1)
print(t2)

5
20

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [34]:
t = ('dog','cat','rabbit')
t1 = t.index('cat')
print(t1)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [39]:
t = ("apple","banana","kiwi")
print("kiwi" in t)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [41]:
s = {"a","b","c"}
print(s)
type(s)

{'b', 'c', 'a'}

set

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [42]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [43]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [49]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = s1 | s2
print(s3)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [52]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = s1 & s2
print(s3)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [53]:
d = {"name":"Piyush","age":20,"city":"Lucknow"}
print(d)
type(d)

{'name': 'Piyush', 'age': 20, 'city': 'Lucknow'}

dict

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [54]:
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [55]:
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [56]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [59]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [62]:
l = [1,2,3,4]
t = (1,2,3,4)
d = {"name":"Piyush","age":20,"city":"Lucknow"}
print(l, type(l))
print(t , type(t))
print(d, type(d))

[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{'name': 'Piyush', 'age': 20, 'city': 'Lucknow'} <class 'dict'>

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [64]:
num = [20,10,50,45,60]
num.sort()
print(num)

[10, 20, 45, 50, 60]

28. Write a code to create a list with strings and print the element at the third index

In [66]:
l = ["Piyush","Peehul","Ram","Vinay","Preeti"]
print (l[3])

Vinay

29. Write a code to combine two dictionaries into one and print the result.

In [83]:
d1 = {"name":"Piyush","age":20,"city":"Lucknow"}
d2 = {"state":"Punjab","pincode":2020}
d3 = d1 | d2
print(d3)

{'name': 'Piyush', 'age': 20, 'city': 'Lucknow', 'state': 'Punjab', 'pincode': 2020}

30. Write a code to convert a list of strings into a set.

In [86]:
l = ["Piyush","Peehul","Ram","Vinay","Preeti"]
s = set(l)
print(s)
type(s)

{'Preeti', 'Peehul', 'Piyush', 'Ram', 'Vinay'}

set